.navbar-default {
background-color: white;
border-color: white;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: black;
  text-align: center;
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
  margin: 0 auto;
  display: block;
  position: relative;
}

.portfolio {
  padding: 50px 0;
  margin: 0 auto;
  width: 85%;
}

.social {
  padding: 50px;
}

.section-heading {
  margin-bottom: 30px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

#ab-logo {
  width: 100%;
}

.img-display {
  width: 100%;
}

.navbar {
  padding: 20px;
}
