body {
  background: url("http://dash.ga.co/assets/anna-bg.png");
  background-size: cover;
  background-position: center;
}


.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: black;
  background-size: cover;
  background: url("http://dash.ga.co/assets/anna-bg.png");
  background-position: center;
  text-align: center;
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 30px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
