

.intro-header {
  /*padding-top: 50px;  If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content!
  padding-bottom: 50px; */
  color: black;
  text-align: center;
  background-image: url('../img/AdamBarrett-0519.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(10, 0, 200, .5);
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
  margin: 0 auto;
  display: block;
  position: relative;
}

.portfolio {
  padding: 50px 0;
  margin: 0 auto;
}

.social {
  padding: 50px;
  text-align: center;
}

.section-heading {
  margin-bottom: 30px;
}

.intro-message {
  margin: 30% 0px;
}

.intro-message h1, .intro-message h2 {
  color: white;
  text-shadow: 2px 2px purple;
}

#ab-logo {
  width: 100%;
}

.img-display {
  width: 100%;
}

.navbar {
  padding: 20px;
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}


.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .1)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}


