.main-section {
  background: url("http://dash.ga.co/assets/anna-bg.png");
  background-size: cover;
  background-position: center;
}



.about {
  background-color: rgba(0, 0, 0, .5);
  padding: 50px;
  color: white;
  font-family: 'Special Elite', cursive;
}

.about p {
  font-size: 20px;
}

.social {
  text-align: center;
  padding: 100px;
}

.footer {
  text-align: center;
  padding: 10px;
  color: rgba(255, 255, 255, .5);
}

.fullstack h2 {
  color: white;
  font-family: impact;
  font-size: 40px;
}

.fullstack h3 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

@media (max-width: 720px) {

  body {
    margin: 0 auto;
  }

.intro {
  padding: 70px;
}

.fullstack h2 {
  font-size: 20px;
}

.fullstack h3 {
  font-size: 20px;
}

.about p {
  font-size: 15px;
}




}




