body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
      max-width: 600px;
      margin: 10 auto;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    img {
      border-radius: 300px;
      border: 3px solid white;
      margin: 40px 0px 0px 0px;
    }

    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 22px;
    }
    section {
      margin: 30px 0px;
      padding: 100px;
      background:white;
      color: black;
      text-align: left;
    }
    h2 {
      text-align: center;
    }
    #skills {
      background: rgba(0, 0, 0, 0);
      color: white;
    }
    #about {
      background: white;
    }
    #contact a {
      color: black;
    }

